:host {
  display: inline;
}

div.message-count {
  display: inline-block;
  border-radius: 100%;
  background: red;
  padding: 4px;
  color: white;
  font-weight: bolder;
  height: 1em;
  width: 1em;
  font-size: 0.5em;
  text-align: center;
  margin-right: 1em;
  margin-top: -0.5em;
}
